<div class="page-wrapper form-wrapper">
    <form id="signup" (ngSubmit)="register()">
        <h1>Sign Up</h1>
        <p>Email</p>
        <input type="email" [(ngModel)]="email" name="email"/>
        <p>Password</p>
        <input type="password" [(ngModel)]="password" name="password"/>
        <p>Confirm Password</p>
        <input type="password" [(ngModel)]="cpassword" name="cpassword"/>

        <p class="status">{{status}}</p>
        <button type="submit">Sign Up</button>
    </form>
</div>
