<div class="center">
    <form class="survey-form" [formGroup]="form" (submit)="onSubmit()">
        <h3>{{isEditMode?"Edit Survey":"Create Survey"}}</h3>

        <mat-form-field class="survey-input-full-width" appearance="fill">
            <mat-label>Survey Name</mat-label>
            <input matInput formControlName="name" placeholder="Input Survey Name">
        </mat-form-field>
        <mat-form-field class="survey-input-full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="Input Question Description">
        </mat-form-field>

        <ng-container formArrayName="questions">
            <ng-container *ngFor="let questionForm of questions.controls; let i = index">
                <mat-card>
                    <div class="lesson-form-row" [formGroup]="questionForm">
                        <mat-form-field class="survey-input-full-width" appearance="fill">
                            <mat-label>Question</mat-label>
                            <input matInput formControlName="title" placeholder="Input Question">
                        </mat-form-field>

                        <mat-form-field class="survey-input-full-width" appearance="fill">
                            <mat-label>Question Type</mat-label>
                            <select matNativeControl required formControlName="type"
                                (change)="initQuestionTypeChangeListener(questionForm)">
                                <option value="text">Text</option>
                                <option value="dropdown">Multiple Choice</option>
                                <option value="radiogroup">Radio Button</option>
                            </select>
                        </mat-form-field>
                        <div *ngIf="questionForm.value.type == 'radiogroup' || questionForm.value.type == 'dropdown'">
                            <div *ngIf="questionForm.value.type == 'radiogroup'">Add Options</div>
                            <div *ngIf="questionForm.value.type == 'dropdown'">Add Dropdown Options</div>

                            <ng-container *ngFor="let choiceForm of getChoices(questionForm).controls; let i = index">
                                <div class="lesson-form-row" [formGroup]="choiceForm">

                                    <input *ngIf="questionForm.value.type == 'radiogroup'" type="radio" disabled>

                                    <mat-form-field appearance="fill">
                                        <input matInput formControlName="option" placeholder="Option">
                                    </mat-form-field>
                                    <mat-icon type="button" class="delete-btn"
                                        (click)="deleteChoice(getChoices(questionForm), i)">
                                        delete_forever</mat-icon>
                                </div>
                            </ng-container>
                            <button mat-raised-button type="button" (click)="addChoice(getChoices(questionForm))">
                                Add option
                            </button>
                        </div>
                        <br />
                        <button mat-raised-button color="red" type="button" (click)="deleteQuestion(i)"
                            [disabled]="questions.controls.length <= 1">
                            Remove Question
                        </button>

                    </div>
                </mat-card>
                <br />
            </ng-container>
        </ng-container>

        <br />
        <button mat-raised-button type="button" (click)="addQuestion()">
            Add Question
        </button>
        <br /> <br />
        <div>
            <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </div>

    </form>
</div>