<h3 class="center">Select Survey to Respond</h3>

<div class="wrapper center">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let survey"> {{survey.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let survey"> {{survey.description}} </td>
        </ng-container>

        <ng-container matColumnDef="respondSurvey">
            <th mat-header-cell *matHeaderCellDef> Respond </th>
            <td mat-cell *matCellDef="let survey"> <a [href]="'/respond/'+survey._id">Enter</a> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>