
<a mat-raised-button color="primary" href="/add">Create Your Survey</a>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let survey"> {{survey.name}} </td>
    </ng-container>


    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let survey"> {{survey.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let survey">
             <a [href]="'/edit/'+survey._id">Edit</a> / 
             <a [href]="'/delete/'+survey._id">Delete</a> / 
             <a [href]="'/stat/'+survey._id">Statistic</a>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>