<div class="page-wrapper form-wrapper">
    <form id="login" [formGroup]="form" (submit)="login()">
        <input type="input" formControlName="username" placeholder="username">
        <div *ngIf="form.controls['username'].invalid && (form.controls['username'].dirty || form.controls['username'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['username'].errors.required">
                Username is required.
            </div>
        </div>

        <input type="password" formControlName="password" placeholder="password">
        <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['password'].errors.required">
                Password is required.
            </div>
        </div>
        <div>
            <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
        </div>

        <div *ngIf="status != ''" class=" alert alert-danger">
            <div>{{status}}</div>
        </div>
    </form>

</div>